html {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: Mercedes;
  font-size: 18px;
  color: #f70063;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

body::after {
  content: "";
  display: block;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 45px solid #f70063;
}

header {
  background-color: #1f1f1f;
  color: #f70063;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  position: relative;
}

header::after {
  content: "";
  display: block;
  position: absolute;
  align-items: center;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #f70063;
}

.logo-container {
  display: flex;
  margin-left: 0.75vw;
  margin-right: 5vw;
}

.logo {
  width: 15%;
  height: 15%;
  margin-left: 10px;
  margin-right: 50px;
  text-align: center;
}

h1 a {
  font-size: 82px;
  text-decoration: none;
  color: #f70063;
  margin: 0;
  padding: 0;
  margin-right: 7vw;
  margin-left: 235px;
  transition: color 1s ease;
  align-items: center;
  text-align: center;
}

h1 a:hover{
  color: #f3612a;
}

.page-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.page-nav li {
  font-weight: bold;
  padding: 0;
  margin-right: 3vw;
  font-size: 20px;
}

.page-nav li a{
  transition: color ease 1s;
}

.page-nav li a:hover{
  color: #f3612a
}

.page-nav a {
  text-decoration: none;
  color: #f70063;
}

a:hover {
  text-decoration: none;
}

main {
  padding: 15px;
  align-items: center;
  text-align: center;
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f70063;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 1s ease;
  text-align: center;
}

.custom-button:hover {
  background-color: #f3612a;
}

.rating-container {
  text-align: center;
  margin-top: 20px;
}

.rating-buttons {
  margin-top: 10px;
}

.rating-button {
  background-color: #f70063;
  color: #f70063;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  margin: 0 5px;
  cursor: pointer;
}

.rating-button:hover {
  background-color: #f3612a;
}